.add-to-cart-button {
  background-color: rgb(255, 216, 20);
  border-radius: 30px;
  border: none;
  padding: 5px 25px 5px 25px;
}

.request-button {
  background-color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.schedule-button {
  background-color: rgb(224, 224, 224);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-left: 15px;
}

.toggle-button {
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
}